bottle==0.12.25 ; python_version >= "3.9" and python_version < "3.10"
cffi==1.16.0 ; platform_python_implementation == "CPython" and sys_platform == "win32" and python_version >= "3.9" and python_version < "3.10"
click==8.1.7 ; python_version >= "3.9" and python_version < "3.10"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.10" and platform_system == "Windows"
gevent-websocket==0.10.1 ; python_version >= "3.9" and python_version < "3.10"
gevent==24.2.1 ; python_version >= "3.9" and python_version < "3.10"
greenlet==3.0.3 ; platform_python_implementation == "CPython" and python_version < "3.10" and python_version >= "3.9"
pillow==10.3.0 ; python_version >= "3.9" and python_version < "3.10"
pycparser==2.22 ; platform_python_implementation == "CPython" and sys_platform == "win32" and python_version >= "3.9" and python_version < "3.10"
pyyaml==6.0.1 ; python_version >= "3.9" and python_version < "3.10"
setuptools==69.5.1 ; python_version >= "3.9" and python_version < "3.10"
zope-event==5.0 ; python_version >= "3.9" and python_version < "3.10"
zope-interface==6.3 ; python_version >= "3.9" and python_version < "3.10"
