#led_container {
    display: inline-block;
    border: 1px solid black;
    padding: 1px;
    width: 100%;
}

.row_container {
    display: inline-block;
}

.led {
    display: inline-block;
    border: 1px solid black;
    margin: 1px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

#bottom {
    border: 1px solid black;
    padding: 1px;
}

#config {
    display: inline-block;
    padding: 1px;
    width: calc(100% - 350px);
}

#config_input {
    width: 98%;
    height: 500px;
    padding: 5px;
}

#config_status {
    float: right;
}

#constants {
    width: 340px;
    float: right;
}

#constants pre {
    height: 500px;
    overflow: auto;
    border: 1px solid black;
    margin: 0px;
}
