#led_container {
    display: inline-block;
    border: 1px solid black;
    padding: 1px;
    width: 100%;
    background-color: gray;
}
.row_container {
    display: inline-block;
}
.led {
    display: inline-block;
    border: 1px solid white;
    margin: 1px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}
