/* Overall Layout */

#left {
    border: 1px solid black;
    bottom: 3px;
    display: inline-block;
    left: 3px;
    padding: 1px;
    position: absolute;
    top: 3px;
    width: 350px;
}

#right {
    border: 1px solid black;
    bottom: 3px;
    display: inline-block;
    overflow: auto;
    position: absolute;
    right: 3px;
    top: 3px;
    width: calc(100% - 366px);
}

/* Config Editor */

#config_input {
    width: 98%;
    height: 96%;
}

#config_status {
    float: right;
}

/* LED display */

#led_container {
    background-color: gray;
    display: inline-block;
    position: relative;
}

.led {
    display: inline-block;
    border: 1px solid white;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
}

/* Help Overlay */

#config_help {
    background: white;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.9;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
}
