<!DOCTYPE html>
<html ng-app="rgbs">
    <head>
        <title>
            RGBStrip Angular Server
        </title>
        <script type="text/javascript" src="/static/js/angular.min.js"></script>
        <script type="text/javascript" src="/static/js/ng-websocket.js"></script>
        <link rel="stylesheet" href="/static/css/main_ang.css">
        <script type="text/javascript" src="/static/js/DisplayController.js"></script>
    </head>
    <body>
        <div ng-controller="DisplayController as display" id="led_container">
            <span ng-repeat="row in leds" class="row_container">
                <span ng-repeat="led in row" class="led" style="background-color: {{led.colour}}">
                </span>
            </span>
        </div>
  </body>
</html>